<html>
  <head>
    <style>
      body {
        background-image: url("https://www.teahub.io/photos/full/40-402760_light-color-background-for-website.jpg");
        margin-top: 5%;
      }
      h1 {
        padding-bottom: 10%;
      }
    </style>
  </head>
  <body>
    <center>
      <h1>Welcome to Currency Converter Website</h1>

      <img
        src="https://www.xpressmoney.com/blog/wp-content/uploads/2019/10/5_tips_to_save_money_article_xyz.jpg"
        width="30%"
      />
    </center>
  </body>
</html>
