<html>
  <head>
    <style>
      body {
        background-image: url("https://www.biospectrumasia.com/uploads/articles/1-11526.png");
      }
      .p1 {
        width: 350px;

        padding-top: 100px;
        padding: 40px;
        margin: auto;
        color: black;
        margin-top: 15%;
        border-radius: 15px 50px;

        background-color: white;
        text-align: center;
        font-size: 25px;
      }
    </style>
  </head>

  <body>
    <div class="p1">
      <p><%= d %></p>
    </div>
  </body>
</html>
